{% extends 'base.html' %}

{% block title %} HOME {% endblock title %}
{% block css %}

{% endblock css %}
{% block navbar %}
    <nav class="nav nav-masthead justify-content-center float-md-end">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
    <a class="nav-link" href="play">Play</a>
    <a class="nav-link" href="contact">Contact</a>
    </nav>
{% endblock navbar %}
{% block content %}
    <main class="px-3">
        <h1>Check your "DESTINY".</h1>
        <p class="lead">FLAMES is a game named after the acronym: Friends, Lovers, Affectionate, Marriage, Enemies, Siblings. It is a popular game among young girls at sleepovers, especially with pre-teens and teens who are beginning to explore the world of crushes.</p>
        <p class="lead">
        <a href="play" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Play Now</a>
        </p>
    </main>
{% endblock content %}